@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    font-family: 'Zilla Slab';
    font-size: 46px;
}

body {
    background-color: black;
    color: white;   
    width: auto;
    height: 100vh;
    overflow: hidden;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main::before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(0deg, transparent 500px, rgb(0, 0, 0) 900px);
    pointer-events: none;
    z-index: 100;
  }

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100% - 1rem);
    gap: 1rem;
  }
  
  .story-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    padding: 1rem;
    height: 14rem;
}

.main-btn{
    background: none;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    margin: .2rem;
    text-align: left;
}
.main-btn:hover{
    background-color: white;
    color: black;
}

// SCSS for fade-in and fade-out
.fade-in {
    animation: fadeIn 1.0s forwards;
  }
  
  .fade-out {
    animation: fadeOut 1.0s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  